:root {
    --text: #434455;
    --modal-overlay: rgba(46, 47, 66, 0.40);
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --hero-background: rgba(46, 47, 66, 0.70);
    --primary-brand: #4D5AE5;
    --light: #F4F4FD;
    --accent: #E7E9FC;
    --white-background: #fff;
    --subtle-text: #8E8F99;
    --success: #31d0aa;
    --modal-background: #FCFCFC;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    opacity: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    font-size: 16px;
    background-color: var(--banner-color);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--text);
}

.logo {
    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
        margin-right: 120px;
        }
}

.logo-black {
    color: var(--dark);
}

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.main-header {
        @media screen and (max-width: 767px) {
            padding: 24px 16px;
            }
        @media screen and (min-width: 768px) {
            max-height: 72px;
        }
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-btn{
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @media screen and (min-width: 768px) {
            gap: 40px;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.menu .link:hover,
.menu .link:focus {
    @media screen and (max-width: 767px) {
        text-decoration: underline;
    }
}

.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 32px 32px 60px;
    background-color: var(--white-background);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid var(--accent);
    color: var(--dark);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
}

.mobile-menu{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-link{
    color: var(--dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover, .menu-link:focus{
    color: var(--pressed-state);
}

.active{
    color: var(--pressed-state);
}

.menu-address-phone{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72;
    color: var(--primary-brand);
    display: block;
    margin-bottom: 40px;
    font-style: normal;
}

.menu-address-mail{
    display: block;
    font-size: 20px;
    margin-bottom: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-style: normal;
}

.menu-icons-list {
    display: flex;
    justify-content: space-around;
}

.menu-icon {
    fill: var(--white-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-icon:hover,
.menu-icon:focus {
    background-color: var(--pressed-state);
}

.hero {
    background-color: var(--dark);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto 96px;
    padding-bottom: 112px;
    @media screen and (max-width: 767px) {
    overflow: hidden;
    }
    @media screen and (min-width: 1440px) {
        margin-bottom: 120px;
    }
}

@media (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg@1x.jpg);
        height: 432px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg@2x.jpg);
        }
}
}

@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@1x.jpg);
        height: 436px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@2x.jpg);
    }
}
}

@media (min-width: 1440px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop-bg@1x.jpg);
        height: 600px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop-bg@2x.jpg);
    }
}
}

.main-title {
    padding-top: 112px;
    color: var(--white-background);
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 72px;
    @media screen and (max-width: 767px) {
        font-size: 36px;
        max-width: 320px;
        line-height: 40px;
        letter-spacing: 0.72px;
        }
    
    @media screen and (min-width: 768px) {
        max-width: 496px;
        font-size: 56px;
        text-align: center;
        line-height: 60px;
        letter-spacing: 1.12px;
    }
    @media screen and (min-width: 1440px) {
        padding-top: 188px;
    }
}

.main-navigation{
    @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 121px;
        padding: 24px 16px;
    }
}

.nav-item {
    font-weight: 500;
    color: var(--light);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
}

.nav-item:hover,
.nav-item:focus,
.address-item:focus,
.address-item:hover {
    color: var(--pressed-state);
}

.main-navigation .menu .current-page {
    color: var(--pressed-state);
}

.nav-item:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
    position: absolute;
    bottom: -28px;
    left: 0;
}

.nav-item.current-page::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
    position: absolute;
    bottom: -28px;
    left: 0;
}

.nav-address {
    font-style: normal;
    @media screen and (max-width: 767px) {
                display: none;
        }
    @media screen and (min-width: 768px) {
        margin-right: 16px;
    }
}

.nav-address-list{
    display: flex;
    @media screen and (max-width: 1439px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1440px) {
        gap: 40px;
    }
    align-items: center;
}

.main-btn {
    color: var(--white-background);
    background-color: var(--primary-brand);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-sizing: border-box;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
    background-color: var(--pressed-state);
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1439px) {
    .main-icon{
        display: none;
    }
}

.cards-main {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        gap: 72px;
    }
    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
    }
}

.card-main {
    display: flex;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
    flex-wrap: wrap;
    width: 356px;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    flex-direction: column;
    }
    @media screen and (min-width: 1440px) {
        flex-direction: column;
    }
}

.card-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0 0 8px;
    font-variant: var(--dark);
}

.cards-main {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 72px;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
    flex-wrap: wrap;
    }
}

.card-main-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin: 0 0 8px;
    @media screen and (max-width: 1439px) {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-align: center;
    }
}

.main-description {
    @media screen and (max-width: 1439px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    padding-bottom: 120px;
}

.card-main-description {
    margin: 0;
}

.card-main-description {
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.main-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    padding: 24px;
    margin-bottom: 8px;
    border-radius: 4px;
    @media screen and (max-width: 1439px) {
        display: none;
    }
}

.main-icon svg {
    display: block;
}

.main-work{
    @media screen and (max-width: 1439px) {
        display: none;
    }
    @media screen and (min-width: 1440px) {
        margin-bottom: 120px;
    }
}

.doing-images {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.doing-image {
    width: calc((100% - 48px) / 3);
}

.main-team {
    background-color: var(--light);
    padding: 120px 0;
}

.title-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 0 72px;
}

.person-cards {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        justify-content: center;
        gap: 72px;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        justify-content: center;
        gap: 64px 24px;
    }
    /* gap: 24px; */
    flex-wrap: wrap;
}

.person-card {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px){
    width: 264px;
    }
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.person-container {
    padding: 32px 16px;
    background-color: var(--white-background);
}

.person-title {
    text-align: center;
    margin-bottom: 8px;
}

.person-card p {
    text-align: center;
    margin-bottom: 8px;
}

.person-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.person-icon:hover,
.person-icon:focus {
    background-color: var(--pressed-state);
}

.person-icon-svg {
    fill: var(--white-background);
}

.customers {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    @media screen and (max-width: 767px) {
        width: calc(100vw - 32px);
        margin: 0 auto;
    }
    flex-wrap: wrap;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        justify-content: center;
        width: calc(168px * 3 + 48px);
        margin: 0 auto;
        gap: 72px 24px;
    }
    @media screen and (min-width: 1440px) {
        justify-content: center;
        margin: 0 auto;
        gap: 24px;
    }
}

@media screen and (max-width: 767px) {
.customers-container:nth-child(2n+1) {
    margin-right: 16px;
}
.customers-container:nth-child(-n + 4){
    margin-bottom: 72px;
    }
}

.customers-container {
    @media screen and (max-width: 767px) {
        width: calc((100vw - 48px) / 2);
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        width: 168px;
    }
    @media screen and (min-width: 1440px) {
        width: calc((100% - 120px) / 6);
    }
    height: 88px;
}

.customers-icon-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.customers-icon-link:hover,
.customers-icon-link:focus {
    color: var(--pressed-state);
    border: 1px solid var(--pressed-state);
}

.customers-icon-link svg {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

footer {
    background-color: var(--dark);
    padding: 100px 0;

}

footer .container {
    color: var(--white-background);
    display: flex;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        gap: 24px;
        flex-wrap: wrap;
        max-width: calc(168px * 3 + 48px);
        margin: 0 auto;
    }
    @media screen and (min-width: 1440px) {
        justify-content: center;
        gap: 72px;
    }
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer-description {
    color: var(--light);
    max-width: 264px;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 1440px) {
        width: 264px;
    }
}

.logo-white {
    color: var(--light);
    display: inline-block;
    @media screen and (min-width: 1440px) {
        display: inline;
    }
}

.footer-social-media-container p{
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        margin-bottom: 16px;
        }
}

.footer-logo-container {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        margin-bottom: 72px;
    }
    @media screen and (min-width: 1440px) {
        margin-right: 120px;
    }
}

.social-media-list {
    display: flex;
    gap: 16px;
    color: var(--banner-color);
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon-link:hover,
.social-media-icon-link:focus {
    background-color: var(--success);
}

.social-media-icon-svg {
    fill: var(--white-background);
}

.footer-social-media-container{
    @media screen and (min-width: 1440px) {
        margin-right: 80px;        
}
}

.footer-social-media-container p {
    @media screen and (max-width: 767px) {
        text-align: center;
        font-weight: 400;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1440px) {
        margin-bottom: 16px;
    }
}

.p-style {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subscribe-container {
    /* margin-left: 80px; */
    @media screen and (max-width: 767px) {
            width: 100%;
        }
}

.subscribe-title {
    /* display: inline-block; */
    margin-bottom: 16px;
    font-weight: 500;
    @media screen and (max-width: 767px) {
        text-align: center;
        }
}

.subscribe-form {
    display: flex;
    /* gap: 24px; */
    @media screen and (max-width: 767px) {
        gap: 16px;
        flex-direction: column;
        align-items: center;
    }
}

.subscribe-label{
    @media screen and (max-width: 767px) {
            display: inline-block;
            width: calc(100% - 30px);
        }
}

.subscribe-field {
    background-color: transparent;
    border: 1px solid var(--subtle-text);
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 40px;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    @media screen and (max-width: 767px) {
            width: 100%;
        }
    @media screen and (min-width: 768px){
        width: 264px;
        margin-right: 24px;
    }
}

.subscribe-field,
.subscribe-field::placeholder {
    color: var(--subtle-text);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-color: var(--primary-brand);
    border-radius: 4px;
    color: var(--white-background);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--pressed-state);
}

.subscribe-button-flexcontainer {
    display: flex;
    align-items: center;
}

.subscribe-button-title {
    margin-right: 16px;
    font-size: 16px;
}

.subscribe-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/subscribe-icon.svg);
    background-position: center;
    background-size: cover;
    margin-left: 16px;
    fill: var(--white-background);
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E2F4266;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (max-width: 767px) {
                padding-top: 96px;
            }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    /* max-width: 408px; */
    max-height: 584px; 
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width: 767px) {
            min-width: calc( 100vw - 18px * 2);
        }
        @media screen and (min-width: 768px) {
            width: 408px;
        }
}

.modal-escape {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--accent);
    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;


    position: absolute;
    right: 24px;
    top: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-escape:hover,
.modal-escape:focus {
    background-color: var(--pressed-state);
    border: none;
}

.close-modal-icon {
    fill: var(--dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-escape:hover .close-modal-icon,
.modal-escape:focus .close-modal-icon {
    fill: var(--white-background);
}

.modal-title {
    margin: 0 0 16px;
    text-align: center;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.modal-input-description {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--subtle-text);
}

.modal-input-container {
    position: relative;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}

.modal-input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-name {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.modal-input:focus,
.modal-input:hover {
    border: 1px solid var(--primary-brand);
}

svg[class*=modal-icon-] {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+[class*=modal-icon-],
.modal-input:hover+[class*=modal-icon-] {
    fill: var(--primary-brand);
}

.modal-textinput,
.modal-textinput::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.4);
    ;

}

.modal-textinput {
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.modal-input-textcontainer {
    margin-bottom: 16px;
    display: block;
}

.modal-checkbox-container {
    margin-bottom: 24px;
}

.modal-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    cursor: pointer;
}

.modal-checkbox-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    color: currentColor;
    background-color: transparent;
}

.modal-checkbox-description {
    display: inline;
    color: var(--light);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.modal-checkbox-input:checked+.modal-checkbox .modal-checkbox-icon {
    border: none;
    fill: var(--light);
    background-color: var(--pressed-state);
}

.modal-link {
    color: var(--primary-brand);
    text-decoration: underline;
    display: inline-block;
    margin-left: 3px;
}

.modal-submit-button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    outline: 0;
    border: none;
    border-radius: 4px;
    display: block;
    padding: 16px 32px;
    font-size: 16px;
    color: var(--white-background);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    margin: 0 auto;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: var(--pressed-state);
}

.call-back-container {
    margin-bottom: 8px;
}

.textarea-container {
    margin-bottom: 16px;
}

.container {
    @media screen and (min-width: 1440px){
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }
}